.container {
  width: 100%;
  background-color: var(--comment-background);
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: start;
  border-radius: 22px;
}

.input {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  color: var(--secondary-text);
}

.icon_container {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon_container > * {
  color: white;
}

.text_indent {
  text-indent: 10px;
}
