.container {
  width: 100%;
  outline: none;
  border: none;
  display: flex;
  cursor: pointer;
  padding: 0 8px;
  background-color: transparent;
  transition: .2s all ease-in-out;
  border-radius: 6px;
}

.container:hover {
  background-color: var(--hover-overlay);
  transition: .2s all ease-in-out;
}